@if (loading) {
  <div class="d-flex justify-content-center my-4">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
} @else {

  <div class="d-flex justify-content-center align-items-center my-4">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTaskModal">Add Task</button>
  </div>
  @if (tasks && tasks.length > 0) {
    <div class="m-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="mb-0">Total tasks: <strong>{{ tasks.length }}</strong></p>

        <div class="col-9 d-flex justify-content-end align-items-center gap-2">
          <label for="sortingDropdown">Sorting:</label>
          <select id="sortingDropdown" class="form-select w-auto me-2"
                  [(ngModel)]="sortingType"
                  (change)="sortTasks.emit(sortingType)">
            <option [value]="SortingType.HIGHEST_PRIO">Sort by Priority</option>
            <option [value]="SortingType.DUE_DATE">Sort by Due Date</option>
            <option [value]="SortingType.STATUS">Sort by Status</option>
          </select>
        </div>
      </div>

      <!-- Task Table -->
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Due Date</th>
          <th scope="col">Priority</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks" [routerLink]="['/tasks', task.id]" class="cursor-pointer">
          <td>{{ task.name }}</td>
          <td>{{ task.dueDate | date }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.status }}</td>
        </tr>
        </tbody>
      </table>

    </div>
  }
}
