<!-- Application Header -->
<app-header [user]="user" (logOut)="signOut()"></app-header>

<ng-container *ngrxLet="{ users: userList$, tasks: tasks$ } as vm">
  <app-add-task
    [users]="vm.users"
    (addTask)="onAddNewTask($event)">
  </app-add-task>


  <app-task-list
    [tasks]="vm.tasks.tasks"
    [loading]="vm.tasks.loading"
    [allTasksLoaded]="vm.tasks.allTasksLoaded"
    [sortingType]="vm.tasks.sortingType"
    (loadMoreTasks)="onLoadMoreTasks()"
    (sortTasks)="onSortingTask($event)">
  </app-task-list>
</ng-container>
